#container {
    width: 1140px;
    background-color: blueviolet;
    font-family: arial;
    font-size: 20px;

}

#blog-post-container {
    width: 75%;
    background-color: aquamarine;
}

#other-posts {
    font-family: lucida;
    width: 25%;
    background-color: rgb(37, 202, 8);

}

#author-box {
    font-family: impact;
    border: 10px solid rgb(8, 4, 7)
}