    * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Lato;
    font-size: 14px;
    color: #333;
    line-height: 135%;

}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

#container {
    width: 1140px;
    margin: 15px auto;

}

#blog-post-container {
    width: 75%;
    float: left;

}

#other-posts {
    width: 25%;
    float: left;
    padding-left: 10px;
    font-size: 14px;
    font-family: Lato;
    color: #aaa;
    line-height: 20px;
}

#author-box {
    border-top: 1px solid rgba(122, 35, 35, 0.125);
    padding-top: 10px;
}

.box {
    background-color: white;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 0 3px rgba(40, 85, 22, 0.6)
}

.blog-post {
    position: relative;

}

.date {
    position: absolute;
    right: 50px;
    top: 20px;
    color: #333;
    font-size: 12px;
}

.blog-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: rgba(170, 170, 170, 0.596);
    line-height: 22px;
    text-align: justify;
}

.tags li {
    list-style: none;
    display: inline;
    margin-right: 10px;

}

.tags li a {
    text-decoration: none;
}

#author-box {
    font-family: Lato;

}

#author-box img {
    border-radius: 130%;
    float: left;

}

.author-text {
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

#share a {
    color: rgb(43, 124, 36);
    text-decoration: none;
    margin-right: 3px;
    opacity: 0.5;
}

#share a:hover {
    opacity: 1;
}