/*  Group Selectors  
    1 : (*)     => tüm etiketler 
    2 : (p)    => tüm p etiketleri
	3 : (div p) => div içindeki tüm p etiketleri
	4 : (div,p) => tüm div ve tüm p etiketleri
	5 : (div > p) => üst etiketi div olan tüm p 
	6 : (p ~ div)=> p ile aynı seviyede tüm div 
	7 : (p + div)=> p etiketinden sonra gelen div 
*/
body {
    background-color: beige;
    font-size: 20px;
    font-family: Lato;
    text-align: left;

}

p+div {
    border: 1px solid black;
}

/* 
* {
    border: 1px solid red;
}
 */
p {
    border: 1px solid blue;
}

.container div.box {
    border: 10px solid rgb(3, 6, 200);
}

div p {
    border: 1px solid rgb(255, 0, 212);

}

div,
p {
    border: 22px solid rgb(0, 255, 68);
}

div.box,
p {
    border: 2px solid rgb(255, 136, 0);
}

div>p {
    border: 22px solid red;
}

p~div {
    border: 50px solid rgb(0, 221, 255);
}